.photo-column{
    background-color: black;
    height: 900px;
}

#photo-gallery{
    background-color: black;
    height: 900px;
}
.photo-sm{
    width: 100%;
    height: 380px;
    background-color: gray;
    margin-top: 20px;
}
.photo-big{
    width: 100%;
    height: 480px;
    background-color: darkgray;
    margin-top: 20px;
}
@media(min-width: 575.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media(min-width:767.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media(min-width:991.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}